@font-face {
    font-family: 'SpaceMono-Bold';
    src: local('SpaceMono-Bold'), url(./SpaceMono-Bold.woff2) format('woff');
}

@font-face {
    font-family: 'SpaceMono';
    src: local('SpaceMono'), url(./SpaceMono-Regular.woff2) format('woff');
}

.cat{
    font-family: 'SpaceMono-Bold';
    color: black; 
}